<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Contact List</h1>
        <div>
            <a href="/contacts/new" class="button create-btn">Create New Contact</a>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% contacts.forEach(function(contact) { %>
                <tr>
                    <td>
                        <div class="contact-image">
                            <img src="<%= contact.imageUrl %>" alt="<%= contact.name %>" class="contact-icon">
                        </div>
                    </td>
                    <td>
                        <a href="/contacts/<%= contact._id %>"><%= contact.name %></a>
                    </td>
                    <td><%= contact.category %></td>
                    <td>
                        <a href="/contacts/<%= contact._id %>/edit" class="edit-link">Edit</a>
                    </td>
                    <td>
                        <form action="/contacts/<%= contact._id %>?_method=DELETE" method="POST" style="display: inline;">
                            <button class="delete-button" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
    <a href="/" class="button home-btn">Back to Home Page</a>
</html>
